In [33]:
import pandas as pd
from sqlalchemy import create_engine
from custom_func import *

In [16]:
LAND = (# коди, що пов'язані з податком на землю
    "18010500",
    "18010600",
    "18010700",
    "18010800",
    "18010900"
)

REGIONS = {
    "02000000000" : "Вінницька",
    "03000000000" : "Волинська",
    "04000000000" : "Дніпропетровська",
    "05000000000" : "Донецька",
    "06000000000" : "Житомирська",
    "07000000000" : "Закарпатська",
    "08000000000" : "Запорізька",
    "09000000000" : "Івано-Франківська",
    "10000000000" : "Київська",
    "11000000000" : "Кіровоградська",
    "12000000000" : "Луганська",
    "13000000000" : "Львівська",
    "14000000000" : "Миколаївська", 
    "15000000000" : "Одеська",
    "16000000000" : "Полтавська",
    "17000000000" : "Рівненська",
    "18000000000" : "Сумська",
    "19000000000" : "Тернопільська",
    "20000000000" : "Харківська",
    "21000000000" : "Херсонська",
    "22000000000" : "Хмельницька",
    "23000000000" : "Черкаська",
    "24000000000" : "Чернівецька",
    "25000000000" : "Чернігівська",
}

In [23]:
def db_connect(query: str, conn: str):
    """ Напряму вантажить дані з бази. """
    db_connection = create_engine(conn)
    return pd.read_sql(query, db_connection)

def generate_query(year):
    
    query = f"""
        SELECT "ADMIN", "FIN_SOURCE", "INCO", "EXECUTED", "DATE"
        FROM "Budget"."dbo_OpenBudgetIncomes"
        WHERE "ADMIN" IN ('02000000000',
                          '03000000000',
                          '04000000000',
                          '05000000000',
                          '06000000000',
                          '07000000000',
                          '08000000000',
                          '09000000000',
                          '10000000000',
                          '11000000000',
                          '12000000000',
                          '13000000000',
                          '14000000000',
                          '15000000000',
                          '16000000000',
                          '17000000000',
                          '18000000000',
                          '19000000000',
                          '20000000000',
                          '21000000000',
                          '22000000000',
                          '23000000000',
                          '24000000000',
                          '25000000000')
          AND "DATE" >= '{year}-01-01'
          AND "DATE" <= '{year}-03-01';"""
    
    return query


def incomes(connection):
    
    current, previous = generate_query(2020), generate_query(2019)
    
    df_current = db_connect(current, connection)
    df_previous = db_connect(previous, connection)
    
    # земля
    land = df_current.loc[df_current["INCO"].isin(LAND)] \
                     .groupby("ADMIN", as_index=False)["EXECUTED"].sum() \
                     .rename(columns={"EXECUTED": "Плата за землю (p2_05)"})
    
    # ПДФО
    pdfo = df_current.loc[df_current["INCO"].eq("11010000")] \
                     .groupby("ADMIN", as_index=False)["EXECUTED"].sum() \
                     .rename(columns={"EXECUTED": "Податок на дохід фіз осіб (для p2_01)"})
    
    # Загальний фонд, без оф. трансферт \ цей рік
    
    mask = df_current["FIN_SOURCE"].eq("C") & df_current["INCO"].str.contains("^[1235]0000000")
    wo_transfers = df_current.loc[mask] \
                             .groupby("ADMIN", as_index=False)["EXECUTED"].sum() \
                             .rename(columns={"EXECUTED": "Дохід без міжбюдж. трансфертів (p2_02)"})
    
    # Загальний фонд, без оф. трансферт \ попередній рік
    mask = df_previous["FIN_SOURCE"].eq("C") & df_previous["INCO"].str.contains("^[1235]0000000")
    wo_transfers_previous = df_previous.loc[mask] \
                                       .groupby("ADMIN", as_index=False)["EXECUTED"].sum() \
                                       .rename(columns={"EXECUTED": "Дохід без міжбюдж. трансфертів _ ПОПЕРЕДНІЙ РІК"})
    
    # agg
    budget_agg = pd.DataFrame(land["ADMIN"])
    for df in (land, pdfo, wo_transfers, wo_transfers_previous):
        budget_agg = budget_agg.merge(df)
    
#     budget_agg.insert(0, "Область", budget_agg["ADMIN"].map(REGIONS))
#     budget_agg["Населення"] = budget_agg["Область"].map(dict_population)
#     budget_agg["Податки на одну особу (p2_01)"]  = budget_agg["Податок на дохід фіз осіб (для p2_01)"] / budget_agg["Населення"]

    return budget_agg

In [6]:
with open("./../psql_engine.txt", "r") as f:
    connection = f.read()

In [27]:
query_p2_4 = f"""
SELECT "ADMIN", SUM("EXECUTED")
FROM "Budget"."dbo_OpenBudgetExpenses"
WHERE "ADMIN" IN ('02000000000',
                  '03000000000',
                  '04000000000',
                  '05000000000',
                  '06000000000',
                  '07000000000',
                  '08000000000',
                  '09000000000',
                  '10000000000',
                  '11000000000',
                  '12000000000',
                  '13000000000',
                  '14000000000',
                  '15000000000',
                  '16000000000',
                  '17000000000',
                  '18000000000',
                  '19000000000',
                  '20000000000',
                  '21000000000',
                  '22000000000',
                  '23000000000',
                  '24000000000',
                  '25000000000')
  AND "ECON" ~ '^3'
  AND "DATE" >= '2020-01-01'
  AND "DATE" <= '2020-03-01'
GROUP BY "ADMIN";"""

df1 = db_connect(query_p2_4, connection)
df1 = df1.rename(columns={"sum": "Капітальні видатки (p2_04)"})
df2 = incomes(connection)

In [30]:
result = pd.merge(df1, df2, on="ADMIN")

In [31]:
result.insert(0, "Область", result["ADMIN"].map(REGIONS))
result["Населення"] = result["Область"].map(dict_population)
result["Податки на одну особу (p2_01)"]  = result["Податок на дохід фіз осіб (для p2_01)"] / result["Населення"]

In [32]:
result

,Область,ADMIN,Капітальні видатки (p2_04),Плата за землю (p2_05),Податок на дохід фіз осіб (для p2_01),Дохід без міжбюдж. трансфертів (p2_02),Дохід без міжбюдж. трансфертів _ ПОПЕРЕДНІЙ РІК,Населення,Податки на одну особу (p2_01)
0,Вінницька,02000000000,8.421927e+07,1.439203e+08,8.648175e+08,1.362296e+09,1.981673e+09,1541782.0,560.920740
1,Волинська,03000000000,1.269372e+08,7.804511e+07,5.365692e+08,8.559776e+08,1.075828e+09,1029736.0,521.074557
2,Дніпропетровська,04000000000,1.646014e+09,7.291244e+08,4.515191e+09,6.955396e+09,6.628021e+09,3180809.0,1419.510257
3,Донецька,05000000000,3.688550e+08,2.430432e+08,2.087742e+09,2.922402e+09,2.896017e+09,4127532.0,505.808859
4,Житомирська,06000000000,1.732043e+08,1.238414e+08,7.110392e+08,1.159912e+09,1.483856e+09,1212157.0,586.590004
5,Закарпатська,07000000000,2.022875e+08,8.975767e+07,6.966198e+08,1.106436e+09,1.121605e+09,1251467.0,556.642596
6,Запорізька,08000000000,2.983307e+08,3.431066e+08,1.836487e+09,2.862062e+09,2.793065e+09,1691424.0,1085.763570
7,Івано-Франківська,09000000000,1.993527e+08,9.334467e+07,5.132831e+08,8.468402e+08,1.342024e+09,1366161.0,375.711991
8,Київська,10000000000,6.407366e+08,3.422171e+08,2.238909e+09,3.750055e+09,3.331908e+09,1771229.0,1264.042566
9,Кіровоградська,11000000000,1.042679e+08,1.917324e+08,8.191793e+08,1.372264e+09,1.224725e+09,930013.0,880.825644
10,Луганська,12000000000,2.057111e+08,6.980864e+07,5.832656e+08,8.199459e+08,7.509518e+08,2135472.0,273.131949
11,Львівська,13000000000,8.448294e+08,3.070386e+08,2.536656e+09,4.085651e+09,3.497324e+09,2495729.0,1016.398736
12,Миколаївська,14000000000,1.462433e+08,1.531499e+08,1.048361e+09,1.613124e+09,1.457651e+09,1122138.0,934.253603
13,Одеська,15000000000,4.370937e+08,6.607624e+08,2.302344e+09,4.121699e+09,3.625926e+09,2365464.0,973.316225
14,Полтавська,16000000000,2.694257e+08,2.909679e+08,1.535689e+09,2.607149e+09,2.709393e+09,1382774.0,1110.585634
15,Рівненська,17000000000,1.147511e+08,9.274091e+07,7.797708e+08,1.230586e+09,1.177166e+09,1152959.0,676.321318
16,Сумська,18000000000,6.481163e+07,1.456291e+08,5.139264e+08,9.039700e+08,1.447143e+09,1068976.0,480.765190
17,Тернопільська,19000000000,7.985020e+07,6.039228e+07,4.262764e+08,6.893423e+08,9.503877e+08,1037051.0,411.046718
18,Харківська,20000000000,6.876357e+08,5.229410e+08,2.785401e+09,4.749018e+09,4.445944e+09,2647497.0,1052.088312
19,Херсонська,21000000000,1.126966e+08,1.085770e+08,6.660800e+08,1.087553e+09,1.047243e+09,1029080.0,647.257764
20,Хмельницька,22000000000,1.412773e+08,1.673291e+08,9.955976e+08,1.594921e+09,1.489697e+09,1254273.0,793.764707
21,Черкаська,23000000000,1.098134e+08,2.069561e+08,1.011500e+09,1.724504e+09,1.554737e+09,1192177.0,848.448133
22,Чернівецька,24000000000,1.324830e+08,7.796981e+07,4.943762e+08,8.199579e+08,7.483413e+08,898868.0,549.998676
23,Чернігівська,25000000000,1.417167e+08,1.833191e+08,8.413320e+08,1.419845e+09,1.324591e+09,986595.0,852.763292
24,NaN,26000000000,8.736595e+08,0.000000e+00,5.826592e+09,7.712620e+09,1.026443e+10,NaN,NaN