In [1]:
import pandas as pd
from custom_func import *

In [2]:
df_P07_004 = pd.read_excel(f"{INPUTS_PATH}/P7/P07_004.xlsx")

relevant_columns = [
    "Кількість дітей на території обслуговування ІРЦ",
    "Кількість дітей, які перебувають на обліку в ІРЦ",
    "Кількість дітей у віці 2-5 років, які здобувають освіту в інклюзивних групах ЗДО",
    "Кількість дітей у віці 6-18 років, які здобувають освіту в інклюзивних класах ЗЗСО"
]

df_P07_004_fin = df_P07_004.groupby("region", as_index=False)[relevant_columns].sum()

df_P07_004_fin["Здобувають освіту в інкл. класах ЗДО/ЗЗСО"] = (
    df_P07_004_fin["Кількість дітей у віці 2-5 років, які здобувають освіту в інклюзивних групах ЗДО"] +
    df_P07_004_fin["Кількість дітей у віці 6-18 років, які здобувають освіту в інклюзивних класах ЗЗСО"]
)

df_P07_004_fin["p7_02_raw"] = (
    df_P07_004_fin["Кількість дітей, які перебувають на обліку в ІРЦ"] / 
    df_P07_004_fin["Кількість дітей на території обслуговування ІРЦ"]
)

df_P07_004_fin["p7_06_raw"] = (
    df_P07_004_fin["Здобувають освіту в інкл. класах ЗДО/ЗЗСО"] / 
    df_P07_004_fin["Кількість дітей на території обслуговування ІРЦ"]
)

df_P07_004_fin = df_P07_004_fin.rename(columns={"Область" : "region"})

normalize_parameter(df_P07_004_fin, "p7_02_raw", "p7_02")
normalize_parameter(df_P07_004_fin, "p7_06_raw", "p7_06",min_bound=0,max_bound=1)

Емпіричні границі: (0.001372142810471333, 0.028072969645055946)
Коефіцієнти нормалізації: (37.45202372177989, -0.051389525087442094)
Параметр p7_02 нормалізовано і додано до таблиці

Емпіричні границі: (0, 1)
Коефіцієнти нормалізації: (1.0, -0.0)
Параметр p7_06 нормалізовано і додано до таблиці

In [3]:
df_P07_004_fin

,region,Кількість дітей на території обслуговування ІРЦ,"Кількість дітей, які перебувають на обліку в ІРЦ","Кількість дітей у віці 2-5 років, які здобувають освіту в інклюзивних групах ЗДО","Кількість дітей у віці 6-18 років, які здобувають освіту в інклюзивних класах ЗЗСО",Здобувають освіту в інкл. класах ЗДО/ЗЗСО,p7_02_raw,p7_06_raw,p7_02,p7_06
0,Івано-Франківська,238971,2458,227,824,1051,0.010286,0.004398,0.333833,0.004398
1,Волинська,205533,2287,82,687,769,0.011127,0.003741,0.365345,0.003741
2,Вінницька,228796,2742,177,632,809,0.011984,0.003536,0.397453,0.003536
3,Дніпропетровська,880145,2462,855,490,1345,0.002797,0.001528,0.053374,0.001528
4,Донецька,242726,6441,286,537,823,0.026536,0.003391,0.942441,0.003391
5,Житомирська,209153,1639,90,260,350,0.007836,0.001673,0.242098,0.001673
6,Закарпатська,245515,2134,133,789,922,0.008692,0.003755,0.274141,0.003755
7,Запорізька,256188,6009,310,1049,1359,0.023455,0.005305,0.827064,0.005305
8,Київська,356677,9870,458,1460,1918,0.027672,0.005377,0.984986,0.005377
9,Кіровоградська,125592,2766,117,802,919,0.022024,0.007317,0.773442,0.007317
10,Луганська,65543,1731,108,347,455,0.026410,0.006942,0.937724,0.006942
11,Львівська,398705,1032,56,205,261,0.002588,0.000655,0.045551,0.000655
12,Миколаївська,174172,1889,122,228,350,0.010846,0.002010,0.354800,0.002010
13,Одеська,391255,8217,178,1147,1325,0.021002,0.003387,0.735165,0.003387
14,Полтавська,193953,3601,180,721,901,0.018566,0.004645,0.643958,0.004645
15,Рівненська,260177,357,12,40,52,0.001372,0.000200,0.000000,0.000200
16,Сумська,149432,4195,69,523,592,0.028073,0.003962,1.000000,0.003962
17,Тернопільська,160472,1014,73,254,327,0.006319,0.002038,0.185265,0.002038
18,Харківська,328766,6875,256,905,1161,0.020912,0.003531,0.731790,0.003531
19,Херсонська,125553,1092,45,310,355,0.008698,0.002827,0.274350,0.002827
20,Хмельницька,234743,3891,388,754,1142,0.016576,0.004865,0.569399,0.004865
21,Черкаська,160669,3746,83,361,444,0.023315,0.002763,0.821805,0.002763
22,Чернівецька,183868,4013,202,734,936,0.021825,0.005091,0.766017,0.005091
23,Чернігівська,101445,379,31,26,57,0.003736,0.000562,0.088532,0.000562